<header>
     <div id="header-div">
         <h1>Codieal</h1>
         <div id="sign-in-up-div">
        <% if(locals.user){%>
            <a href="/users/profile"><%= user.name %></a>
            <a href="/users/sign-out">Sign Out</a>

        <%}else{%>
            <a href="/users/sign-in">Sign In</a>
            <a href="/users/sign-up">Sign Up</a>

        <%}%>
         </div>
     </div>
</header>

